.content-profile {
  background-color: #c0392b;
  color: Ivory;
  font-family: 'Josefin Sans', sans-serif;
}

#content-profile-box, #content-quote-box {
  margin-top: 25px;
  margin-bottom: 25px;
}

#content-profile-pic {
  max-width: 350px;
  height: auto;
  border-radius: 100%;
}

#content-quote {
  font-size: 3.5em;
}
